<h1> New User Registration :</h1>
<hr>

<label> First Name :</label><br>
<input type="text" placeholder="type name" name="FName" matInput>
<br><br>
<label>Last Name :</label><br>
<input type="text" placeholder="type Price" name="LName" matInput>
<br><br>
<label>Contact Number :</label><br>
<input type ="text" placeholder="type contact number" name="Description" matInput>
<br><br>
<label>Email :</label><br>
<input type ="text" placeholder="email address" name="Description" matInput>
<br><br>
<label>Password :</label><br>
<input type ="text" placeholder="*********" name="Description" matInput>
<br><br>
<label>Repeat Password :</label><br>
<input type ="text" placeholder="********" name="Description" matInput>
<br><br>
<button>save</button><hr>
<input type="text" class="form-control" id="customerName" aria-describedby="emailHelp" placeholder="e.g Pantang Francias"
        name="FName" [(ngModel)]="FName">